<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.down">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosquare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logocircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".MyFeedActivity"
            android:label="@string/title_activity_my_feed"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".WelcomeActivity">
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>